#myList{
    display: flex;
    flex-wrap: wrap;
    
}
/* .item{
    font-size: 15px;
    margin: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: rgba(197, 172, 172, .5);
    border: 1px solid #333;
    height: 150px;
    flex-basis: 25%;
}

p{
    margin: 2px;
} */